<p>Hi {{ user.username }}</p>
<p>Your password changed for your Microblog account.</p>
<p>
    If you did not make this change or believe an unauthorized person has accessed your account, please reset
    your password immediately
    <a href="{{ url_for('auth.reset_password_request', _external=True) }}">
        clicking here
    </a>
</p>
<p>Alternatively, you can copy and paste the following link in your browser's address bar:</p>
<p>{{ url_for('auth.reset_password_request', _external=True) }}</p>
<p>Sincerely,</p>
<p>The Microblog Team</p>