<table>
    <tr valign="middle">
        <td><img src="{{ post.author.avatar(36) }}"></td>
        <td>
            <p>
                {% if current_user == post.author %}
                I said
                {% else %}
                <a href="{{ url_for('user', username=post.author.username) }}">
                    {{ post.author.username }}
                </a>
                says:
                {% endif %}
                <b>{{ post.body }}</b>
                <small>on {{ post.timestamp }}</small>
            </p>
        </td>
    </tr>
</table>