<table class="table table-hover">
    <tr>
        {% set user_url  = url_for('main.user', username=post.author.username) %}
        <td width="70px">
            <a href="{{ user_url }}">
                <img src="{{ post.author.avatar(70) }}">
            </a>
        </td>
        <td>
            <p>
                {% set user_link %}
                <a href="{{ user_url }}">{{ post.author.username }}</a>
                {% endset %}
                {% set who_said = _('I') if current_user == post.author else user_link  %}
                {{ _('%(username)s said', username=who_said) }}
                <b>
                    <span id="post{{ post.id }}">
                        {{ post.body }}
                    </span>
                </b>
                {% if post.language and not g.locale.startswith(post.language)  %}
                    <span id="translation{{ post.id }}">
                        <a href="javascript:translate(
                            '#post{{ post.id }}',
                            '#translation{{ post.id }}',
                            '{{ post.language }}',
                            '{{ g.locale }}');">{{ _('Translate') }}</a>
                    </span>
                {% endif %}
                <i>{{ moment(post.timestamp).fromNow(refresh=True) }}</i>
            </p>
        </td>
    </tr>
</table>