<table class="table table-hover">
    <tr>
        {% set user_url  = url_for('user', username=post.author.username) %}
        <td width="70px">
            <a href="{{ user_url }}">
                <img src="{{ post.author.avatar(70) }}">
            </a>
        </td>
        <td>
            <p>
                {% if current_user == post.author %}
                I said
                {% else %}
                <a href="{{ user_url }}">
                    {{ post.author.username }}
                </a>
                says:
                {% endif %}
                <b>{{ post.body }}</b>
                <i>on {{ post.timestamp }}</i>
            </p>
        </td>
    </tr>
</table>